USE [master]
GO
/****** Object:  Database [MyShop]    Script Date: 4/6/2022 9:29:03 PM ******/
CREATE DATABASE [MyShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MyShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MyShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyShop]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 4/6/2022 9:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[DonHang_id] [int] NOT NULL,
	[HangHoa_id] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Gia] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 4/6/2022 9:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[DonHang_id] [int] IDENTITY(1,1) NOT NULL,
	[NgayMua] [date] NOT NULL,
	[TongGia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DonHang_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 4/6/2022 9:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[HangHoa_id] [int] IDENTITY(1,1) NOT NULL,
	[HangHoa_ten] [nvarchar](100) NOT NULL,
	[HangHoa_hieu] [nvarchar](50) NOT NULL,
	[HangHoa_gia] [decimal](18, 0) NOT NULL,
	[HangHoa_soluong] [int] NOT NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[HangHoa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 4/6/2022 9:29:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoan_id] [nvarchar](50) NOT NULL,
	[TaiKhoan_username] [nvarchar](50) NOT NULL,
	[TaiKhoan_password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDonHang] ([DonHang_id], [HangHoa_id], [SoLuong], [Gia]) VALUES (1, 1, 1, 50000000)
INSERT [dbo].[ChiTietDonHang] ([DonHang_id], [HangHoa_id], [SoLuong], [Gia]) VALUES (2, 2, 2, 160000000)
INSERT [dbo].[ChiTietDonHang] ([DonHang_id], [HangHoa_id], [SoLuong], [Gia]) VALUES (3, 3, 1, 24000000)
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([DonHang_id], [NgayMua], [TongGia]) VALUES (1, CAST(N'2022-04-05' AS Date), 50000000)
INSERT [dbo].[DonHang] ([DonHang_id], [NgayMua], [TongGia]) VALUES (2, CAST(N'2022-04-01' AS Date), 160000000)
INSERT [dbo].[DonHang] ([DonHang_id], [NgayMua], [TongGia]) VALUES (3, CAST(N'2022-01-01' AS Date), 38000000)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HangHoa] ON 

INSERT [dbo].[HangHoa] ([HangHoa_id], [HangHoa_img], [HangHoa_ten], [HangHoa_hieu], [HangHoa_gia], [HangHoa_soluong]) VALUES (1, N'/Images/zenbook_fold.jpg', N'Zenbook Fold', N'Asus', CAST(25000000 AS Decimal(18, 0)), 100)
INSERT [dbo].[HangHoa] ([HangHoa_id], [HangHoa_img], [HangHoa_ten], [HangHoa_hieu], [HangHoa_gia], [HangHoa_soluong]) VALUES (2, N'/Images/zenbook_duo.jpg', N'Zenbook Duo', N'Asus', CAST(30000000 AS Decimal(18, 0)), 100)
INSERT [dbo].[HangHoa] ([HangHoa_id], [HangHoa_img], [HangHoa_ten], [HangHoa_hieu], [HangHoa_gia], [HangHoa_soluong]) VALUES (3, N'/Images/zenbook_vivobook.jpg', N'Zenbook Vivobook AMOLED', N'Asus', CAST(24000000 AS Decimal(18, 0)), 100)
SET IDENTITY_INSERT [dbo].[HangHoa] OFF
GO
INSERT [dbo].[TaiKhoan] ([TaiKhoan_id], [TaiKhoan_username], [TaiKhoan_password]) VALUES (N'1', N'admin', N'jLIjfQZ5yojbZGTqxg2pY0VROWQ=')
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([DonHang_id])
REFERENCES [dbo].[DonHang] ([DonHang_id])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([HangHoa_id])
REFERENCES [dbo].[HangHoa] ([HangHoa_id])
GO
USE [master]
GO
